@import url("fontawesome.css");

html {
    width: 362dip;
    height: 120dip;
}

body {
    margin: 0;

    size: *;

    border: 1dip solid gray;

    padding: 0;

    background: white;

    color: rgb(100,100,100);
}

header {
    width: *;
    height: max-content;

    padding: 5dip;
}

header > i {
    display: none !important;
}

header > span {
    height: *;

    vertical-align: middle;
    font-size: 12dip;
}

header > window-button#close {
    display: inline;

    margin-left: *;
    margin-right: 0;
}

main {
    size: max-content;

    padding: 5dip;
}

footer {
    flow: horizontal;

    width: *;
    height: max-content;

    padding: 5dip;

    border-spacing: 1em;
}

footer > button:first-child {
    margin-left: *;
}

footer > button:last-child {
    margin-right: *;
}
