@import url("../css/fontawesome.css");

html {
    display: block;
    flow: vertical;
    overflow:hidden;
}

body {
    margin: 0;
    size: *;

    overflow:none;

    flow: vertical;

    border: 1dip solid gray;

    padding: 0;

    background: white;

    color: rgb(100,100,100);
}

header {
    display: block;
    flow: horizontal;

    width: *;
    height: max-content;
}

header > span {
    height: *;
    width: *;

    vertical-align: middle;
    font-size: 12dip;
}

header > window-button#close {
    display: inline-block;

    margin-left: *;
    margin-right: 0;
}

main {
    flow: horizontal;

    size: *;

    margin: 0;

    padding: 15dip 10dip;
}

main > i {
    display: block;

    margin-right: 10dip;
}

i#info {
    color: blue;
}

i#error {
    color: red;
}

i#warning {
    color: orange;
}

footer {
    flow: horizontal;

    width: *;
    height: max-content;

    padding: 10dip;

    border-spacing: 1em;
}

footer > button {
    flow: vertical;

    height: 2em;

    text-align: center !important;
}

footer > button:first-child {
    margin-left: *;
}

footer > button:last-child {
    margin-right: *;
}
