html {
    display: block;
    flow: vertical;
    overflow:hidden;
}

body {
    margin: 0;
    size: *;

    overflow:none;

    flow: vertical;

    border: 1dip solid gray;

    padding: 0;

    background: white;

    color: rgb(100,100,100);
}

header {
    display: block;
    flow: horizontal;

    width: *;
    height: max-content;
}

header > span {
    height: *;
    width: *;

    vertical-align: middle;
    font-size: 12dip;
}

header > window-button#close {
    display: inline-block;

    margin-left: *;
    margin-right: 0;
}

main {
    flow: horizontal;

    size: *;

    margin: 0;
}

main > i {
    display: block;

    margin-right: 10dip;
}

i#info {
    color: blue;
}

i#error {
    color: red;
}

i#warning {
    color: orange;
}

footer {
    flow: horizontal;

    width: *;
    height: max-content;

    border-spacing: 1em;
}

footer > button {
    flow: vertical;

    width: max-content;
    height: 2em;

    text-align: center;
}

footer > button:first-child {
    margin-left: *;
}

footer > button:last-child {
    margin-right: *;
}

/* buttons */
@mixin STD-BUTTON-HOVER {
    background: color(button-hover-background);
    border-width: length(button-border-width);
    border-radius: length(button-border-radius);
    border-style: solid;
    border-color: color(button-hover-border);
}

@mixin STD-BUTTON-ACTIVE {
    background: color(button-active-background);
    border-width: length(button-border-width);
    border-radius: length(button-border-radius);
    border-style: solid;
    border-color: color(button-active-border);
}

@mixin STD-BUTTON-FOCUS {
    background: color(button-focus-background);
    border-width: length(button-border-width);
    border-radius: length(button-border-radius);
    border-style: solid;
    border-color: color(button-focus-border);
}

@mixin STD-BUTTON-DISABLED {
    background: color(button-disabled-background);
    color: color(button-disabled-text);
    border-width: length(button-border-width);
    border-radius: length(button-border-radius);
    border-style: solid;
    border-color: color(button-disabled-border);
}

@set std-button < std-button-base
{
    :root {
        line-height: height(100%);
        white-space: nowrap;

        vertical-align: middle;

        background: color(button-background);

        color: color(button-text);

        border-width: length(button-border-width);
        border-radius: length(button-border-radius);
        border-style: solid;
        border-color: color(button-border-color);
    }

    :root.transparent {
        background: transparent;
        border-color: transparent;
    }

  // must come after classes in order to overwrite classes colors
    :root:hover     { @STD-BUTTON-HOVER; }
    :root:active    { @STD-BUTTON-ACTIVE; }
    :root:disabled  { @STD-BUTTON-DISABLED; }
    :root:tab-focus { @STD-BUTTON-FOCUS; }
}