html {
    width: 400dip;
    height: 200dip;
}

body {
    border: 1dip solid rgb(112,112,112);

    font-family: "Tahoma";
    color: black;
}

header {
    width: *;

    padding-left: 10dip;
}

header > i {
    display: none !important;
}

header > span {
}

// window button
header > window-button {
    display: inline;

    behavior: clickable;

    width: 30dip;
    height: 25dip;

    border-radius: 0;

    foreground-size: 11dip;
    foreground-repeat: no-repeat;
    foreground-position: 50% 50%;

    stroke: currentcolor;
    stroke-width: 1dip;

    transition: background-color linear 100ms;
}

header > window-button:hover {
    background: rgba(0,0,0,0.25);
}

// close button
header > window-button[role="window-close"] {
    stroke-width: 1.44dip;
    foreground-image: url(path: M0,0 L10,10 M0,10 L10,0);
}

header > window-button[role="window-close"]:hover {
    background: rgb(232,17,35);
    stroke: #fff;
}

main {
    padding: 15dip 10dip;
}

main > i {
    font-size: 40dip;
}

main > #message {
    vertical-align: top;
}

footer {
    border-top: 1px solid rgb(223,223,223);
    
    padding: 10dip;
    
    border-spacing: 8dip;
    
    background: rgb(240,240,240);
}

footer > button {
    padding: 0 15dip;
}

footer > button:first-child {
}

footer > button:last-child {
    margin-right: 0;
}

html {
    // button
    var(button-text): rgb(0, 0, 0);

    var(button-background): rgb(225,225,225);
    var(button-border-width): 1dip;
    var(button-border-radius): 0;
    var(button-border-color): rgb(173,173,173);

    var(button-hover-background): rgb(229,241,251);
    var(button-hover-border): rgb(0,120,215);

    var(button-active-background): rgb(204,228,247);
    var(button-active-border): rgb(0,84,153);

    var(button-focus-border): rgb(0,120,215);

    var(button-disabled-background): rgb(238,238,238);
    var(button-disabled-border): rgb(219,219,219);
    var(button-disabled-text): rgb(179,179,179);
}

