@import url("fontawesome.css");

html {
    width: 400dip;
    height: 140dip;
}

body {
    margin: 0;

    size: *;

    border: 1dip solid gray;
    padding: 0;

    background: white;

    color: rgb(100,100,100);
}

header {
    width: *;
    height: max-content;

    border-bottom: 1dip solid rgb(230,230,230);

    padding: 5dip;
}

header > i {
    font-size: 30dip;
}

header > span {
    height: *;

    padding-left: 5dip;

    vertical-align: middle;
    font-size: 20dip;
}

header > button#close {
    display: none;

    margin-left: *;
    margin-right: 0;

    background: red;
}

main {
    size: max-content;

    padding: 5dip;
}

footer {
    flow: horizontal;

    width: *;
    height: max-content;

    padding: 5dip;

    border-spacing: 1em;
}

footer > button:first-child {
    margin-left: *;
}

footer > button:last-child {
    margin-right: *;
}
